@{
  Layout = "_Layout";
}

@model Factory.Models.Machine


<h4>Add a New Machine</h4>

@using (Html.BeginForm())
{
  <table>
    <tr>
      <td>@Html.Raw("Machine Name: ")</td>
      <td>@Html.TextBoxFor(model => model.MachineName)</td>
    </tr>
    <tr>
      <td>@Html.Raw("Machine Manufacturer: ")</td>
      <td>@Html.TextBoxFor(model => model.MachineManufacturer)</td>
    </tr>
    <tr>
      <td>@Html.Raw("Model Number: ")</td>
      <td>@Html.TextBoxFor(model => model.ModelNumber)</td>
    </tr>
    <tr>
      <td>@Html.Raw("Asset Number: ")</td>
      <td>@Html.TextBoxFor(model => model.AssetNumber)</td>
    </tr>
    <tr>
      <td>@Html.Raw("Location Number: ")</td>
      <td>@Html.TextBoxFor(model => model.LocationNumber)</td>
    </tr>
  </table>
  <br>

    <input type="submit" value="Add new Machine" class="btn btn-primary" /> <a href="Index" class="btn btn-primary">Cancel</a>
}
