@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h2>Machine Details</h2>
<hr />
<table>
  <tr>
    <td>@Html.Raw("Machine Name: ")</td>
    <td>@Html.DisplayFor(model => model.MachineName)</td>
  </tr>
  <tr>
    <td>@Html.Raw("Machine Manufacturer: ")</td>
    <td>@Html.DisplayFor(model => model.MachineManufacturer)</td>
  </tr>
  <tr>
    <td>@Html.Raw("Model Number: ")</td>
    <td>@Html.DisplayFor(model => model.ModelNumber)</td>
  </tr>
  <tr>
    <td>@Html.Raw("Asset Number: ")</td>
    <td>@Html.DisplayFor(model => model.AssetNumber)</td>
  </tr>
  <tr>
    <td>@Html.Raw("Location Number: ")</td>
    <td>@Html.DisplayFor(model => model.LocationNumber)</td>
  </tr>
</table>

@if(@Model.JoinEntities.Count == 0)
{
  <p>This Machine has no mechanics licensed to service.</p>
}
else
{
  <h4>Mechanics: </h4>
  <ul>
    @foreach(var join in Model.JoinEntities)
    {
      <li>@Html.ActionLink($"{@join.Mechanic.MechanicName}", "Details", "Doctors", new { id = join.Mechanic.MechanicId })</li>
    }
  </ul>
}

<p>@Html.ActionLink("Add a Mechanic", "AddMechanic", new { id = Model.MachineId })</p>

<p>@Html.ActionLink("Edit Machine", "Edit", new { id = Model.MachineId })</p>
<p>@Html.ActionLink("Delete Machine", "Delete", new { id = Model.MachineId })</p>