@{
  Layout = "_Layout";
}

@model Factory.Models.Mechanic

<h2>Edit</h2>

<h4>Edit this Mechanic: @Html.DisplayFor(model => model.MechanicName)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.MechanicId)

    <table>
      <tr>
        <td>@Html.Label("Mechanic Name: ")</td> 
        <td>@Html.EditorFor(model => model.MechanicName)</td>
      </tr>
        <tr>
        <td>@Html.Label("Mechanic Title: ")</td> 
        <td>@Html.EditorFor(model => model.MechanicTitle)</td>
      </tr>
    </table>
    <input type="submit" value="Save" class="btn btn-primary"/>
}

@Html.ActionLink("Cancel", "Details", null, new { id = Model.MechanicId }, new { @class = "btn btn-primary"})

